#app {
    background-color: #202020;
}

.fill {
    min-height: 810px;
    height: 90vh;
    max-height:90vh;
}

.form-box {
    background-color: #1c1c1c;
    border: 2px solid darkgreen;
}

.section {
    background-color: #1c1c1c;
    color: white;
    border: 2px solid darkgreen;
}

.navbar {
    background-color: #1c1c1c;
    min-height: 10vh;
}

.navbar-brand > h3 {
    color: green;
    font-weight: bold;
}

.nav-item > a {
    color: gray;
}

.nav-item > a:focus {
    color: darkgreen;
}

.nav-item > a:visited {
    color:green;
}

.nav-item > a:hover {
    text-decoration: none;
    color: lightgreen;
}

.view-root {
    height: 100vh;
    background-color: #2a2a2a;
}

.UpgradeArea {
    background-color: #f0f0f0;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-fluid {
    position: flex;
}

.ClickArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    padding: 20px;
    text-align: center;
}

.ClickArea button { 
    width:50%;
    height:15%;
    max-width:50%;
    max-height:15%;
    padding:10px;
    font-size: 2rem;
    margin-bottom: 20px;
}

.Upgrades {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
    padding:45px; 
}

.container-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.container-custom2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.access-container {
    display: flex;
    justify-content: space-between; 
    max-width: 900px; 
    padding:auto;
    margin: 0 auto; 
}
.container-register,
.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 83vh;
    width: 100%;
    max-height:100vh;
    overflow-y: auto; 
}

.container-register h2,
.container-login h2 
{

    margin-bottom: 20px; 
    text-align: center; 
}

.container-register form,
.container-login form {
    display: flex;
    flex-direction: column; 
    gap: 15px;              
    width: 100%;
    max-width: 400px;       
  }

.container-register li, 
.container-login li {
    display: flex;
    flex-direction: column;
  }

.container-register .RegisterButton,
.container-login .LoginButton
{
    font-size:20px;
    margin-top:2vh;
}

.account-page a{
    color:#0000EE;
}

.account-page {
    text-align:left;
    display:flex;
    justify-content:center;
    flex-direction: column;
    height: 83vh;
    width: 100%;
    max-height:100vh;
    padding: 20vw;
    background-color: darkgray;
}

.account-header h1 
{
    font-size:50px;
}
.account-info p {
    text-align:left;
    display:flex;
    justify-content:center;
    flex-direction: column;
    font-size:25px;
    padding:20px;
    line-height:5vh;
}

.logout-button 
{
    position:absolute;
    text-align:right;
    justify-content:center;
    flex-direction: column;
    padding-left:50%;
    top: 50%;
}

.logout-button button 
{
    height:15%;
    max-height:15%;
    padding:10px;
    font-size: 2rem;
    margin-bottom: 20px;
    background-color: lightcoral;
}
